
.navbar {
    background-color: #333;
    color: white;
    padding: 0px 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

.nav-list > li {
    position: relative;           /* Essential for positioning the dropdown menu */
    margin: 0 10px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}

/* Hide the dropdown menu by default */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li a {
    color: white;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 18px;
}

.dropdown-menu li a:hover {
    background-color: #575757;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-list a:hover {
    background-color: #555;
}

/*reset*/
*{
      padding; 0;
      margin: 0;
}
body {
      background-color: lightblue;
      font-size: 18px;
      width: 350px;
}
img {
      max-width: 100%;
      align= middle;
}
.announcement{ 
	animation-name: blinkingText;
	animation-duration: 1s;
	animation-iteration-count: infinite; 
}
@keyframes blinkingText{ 
	from {color: red;} to {color: transparent;} 
}
.p {
      align= middle;
      font-size: 18px;
}
.game1-table-body{
      width: 100%;
      display: table-row-group;
}
.game1-table-col1{
      display: table-cell;
      align= left;
      width: 5%;
}
.game1-introtext{
      display: table-cell;
      align= right;
      width: 45%;
      vertical-align: middle;
      text-align: center;
}
.game1-table-col3{
      display: table-cell;
      align= left;
      width: 5%;
}
.game1-img{
      display: table-cell;
      align= left;
      width: 45%;
      vertical-align: middle;
}
}

@media screen and (min-width: 320px){
body {
      background-color: yellow;
      font-size: 20px;
      width: 430px;
}
.p {
      align= middle;
      font-size: 20px;
}
.game1-table-body{
      width: 100%;
      display: table-row-group;
}
.game1-table-col1{
      display: table-cell;
      align= left;
      width: 5%;
}
.game1-introtext{
      display: table-cell;
      align= left;
      width: 45%;
      vertical-align: middle;
      text-align: center;
}
.game1-table-col3{
      display: table-cell;
      align= left;
      width: 5%;
}
.game1-img{
      display: table-cell;
      align= right;
      width: 45%;
      vertical-align: middle;
}
}

@media screen and (min-width: 768px){
body {
      background-color: orange;
      font-size: 24px;
      width: 800px;
}
.p {
      align= middle;
      font-size: 24px;
}
.game1-table-body{
      width: 100%;
      display: table-row-group;
}
.game1-table-col1{
      display: table-cell;
      align= left;
      width: 5%;
}
.game1-introtext{
      display: table-cell;
      align= left;
      width: 45%;
      vertical-align: middle;
      text-align: center;
}
.game2-table-col3{
      display: table-cell;
      align= left;
      width: 5%;
}
.game1-img{
      display: table-cell;
      align= right;
      width: 45%;
      vertical-align: middle;
}
}

@media screen and (min-width: 960px){
body {
      width: 1225px;
      background-color: lightgray;
      font-size: 30px;
}
.p {
      align= middle;
      font-size: 24px;
}
.game1-table-body{
      width: 100%;
      display: table-row-group;
}
.game1-table-col1{
      display: table-cell;
      align= left;
      width: 5%;
}
.game1-introtext{
      display: table-cell;
      align= left;
      width: 45%;
      vertical-align: middle;
      text-align: center;
}
.game2-table-col3{
      display: table-cell;
      align= left;
      width: 5%;
}
.game1-img{
      display: table-cell;
      align= right;
      width: 45%;
      vertical-align: middle;
}
}
